@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.article-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.article-item h1 {
  text-align: center;
}

.article-comments-container {
  display: flex;
  flex-direction: column;
}

.comment-actions {
  display: flex;
}

textarea {
  width: 100%;
  min-height: 100px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  background: #eaeaea;
  padding: 20px;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-info {
  display: flex;
}